<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="que" class="com.test.Question">
		<constructor-arg value="1" />
		<constructor-arg value="what is java?" />
		<constructor-arg>
			<list value-type="java.lang.String">
				<value>Java is a object programming language...!</value>
				<value>java is a Multithreaded Programming Language...!</value>
			</list>
		</constructor-arg>
	</bean>
</beans>  