<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="que" class="com.test.Question">
		<constructor-arg value="1" />
		<constructor-arg value="what is java?" />
		<constructor-arg>
			<map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="java is a programming Language" value="pradeep" />
				<entry key="java is a Multithreaded programming Language"
					value="kumar" />
			</map>
		</constructor-arg>
	</bean>
</beans>  